#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  color: rgba(255, 255, 255, 0);
}

#grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gridDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 306px;
  height: 300px;
}

#true {
  background-color: blue;
}

#false {
  background-color: red;
}

#colorBox {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 16px;
}

#slider {
  display: flex;

  align-items: center;
}

#sliderDiv {
  display: flex;
  flex-direction: column;
}

.day {
  width: 100px;
  height: 75px;
  border: 1px solid black;
  font-size: 11px;
}

#thisWeek {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

#inflect {
  margin: 32px;
}
